<!--================Contact Area =================-->
<section class="contact_area p_120" style="margin-top: 20px">
    <div class="container">
        <div class="row">
            <div class="card offset-md-4">
                <div class="card-header text-center">
                    <img src="img/logomarca.png" width="200px" alt="">
                    <br>
                    <br>
                    <h4 class="title_color">Fluilizer</h4>
                </div>
                <div class="card-body row">
                    INDEX
                    <button onclick="window.open('/model', '_self')" class="btn submit_btn">Entrar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--================Contact Area =================-->