<section class="packages_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <img src="img/featuresIcons/novoOcr.png" alt="Smiley face" width="213" height="213" style="cursor:pointer" onclick="uploadOCR();">
                        


                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="nomeClasse" class="form-control" id="nomeClasse" name="nomeClasse"
                                    placeholder="Nome da Classe">
                            </div>
                            <div class="form-group">
                                <input type="autor" class="form-control" id="autor" name="autor"
                                    placeholder="Autor">
                            </div>
                            <div class="form-group">
                                <input type="linhaInicial" class="form-control" id="linhaInicial" name="linhaInicial"
                                    placeholder="Range Inicial">
                            </div>
                            <div class="form-group">
                                <input type="linhaFinal" class="form-control" id="linhaFinal" name="linhaFinal"
                                    placeholder="Range Final">
                            </div>
                        </div>


                        <input type="file" id="fileInput" name="fileInput" data-url="/ocr" style="display:none" single>
                        <div id="ocr_results"> </div>
                        <div id="ocr_status"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <img src="img/featuresIcons/historicoLeituras.png" alt="Smiley face" width="213" height="213">
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" id="launchMdal" hidden class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Resultado da Ocerização</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <!-- injetado via jquery com o retorno da ocerização -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>


</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    function uploadOCR() {
        $("#fileInput").click();
    }



    let form;
    $('#fileInput').change(function(event) {
        console.log('--> file input changed')
        form = new FormData();
        
        form.append('nomeClasse', $('#nomeClasse').val());
        form.append('autor', $('#autor').val());
        form.append('linhaInicial', $('#linhaInicial').val());
        form.append('linhaFinal', $('#linhaFinal').val());
        form.append('fileInput', event.target.files[0]);

        $.ajax({
            url: '/readHtmlProcessing', // Url do lado server que vai receber o arquivo
            data: form,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data) {
                console.log(data)

                $(`#launchMdal`).click();
                $(`#modal-body`).html(data.split('\\n').join('<br>'));
                // utilizar o retorno
            }
        });
    });
</script>
